<div class="container" id="title">
    <h1>Oh Burger My Burger</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5" id="left">
            <h2>Let's burger! <img src="assets/images/burger.png" alt="eat" width="40"/></h2>
            <hr>
            <ul>
                {{#each burgers}} {{#unless this.devoured}}
                <li>
                    {{this.name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button type="submit">EAT TIME!</button>
                    </form>
                    {{> burgers/delete-burger}}
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5" id="right">
            <h2>Burgers in da TUMMY! <img src="assets/images/bitten.png" alt="eaten" width="42"/></h2>
            <hr>
            <ul>
                {{#each burgers}} {{#if this.devoured}}
                <li>
                    {{this.name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="false">
                        <button type="submit">ANOTHER!</button>
                    </form>
                    {{> burgers/delete-burger}}
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="container" id="clearDiv">
    <h2 id="createTitle">Create a Burger</h2>
    <form class="create-update-form" action="/" method="POST">
        <div class="form-group">
            <label for="ingredient">Choose Your Ingredients: </label>
            <br>
            <div id="options">
                Choose a size:
                <input type="radio" class="ingredient" name="size" value="" checked> Single! |
                <input type="radio" class="ingredient" name="size" value="Double"> Double! |
                <input type="radio" class="ingredient" name="size" value="Triple"> Triple! |
                <input type="radio" class="ingredient" name="size" value="Quadruple"> Quadruple!
                <br> Select a protein:
                <input type="radio" class="ingredient" name="protein" value="Beef" checked> Beef! |
                <input type="radio" class="ingredient" name="protein" value="Chicken"> Chicken! |
                <input type="radio" class="ingredient" name="protein" value="Veggie"> Veggie! |
                <input type="radio" class="ingredient" name="protein" value="Tofu"> Tofu!
                <br> Add toppings:
                <input type="checkbox" class="ingredient" name="topping" value="Mushroom" checked> Mushroom! |
                <input type="checkbox" class="ingredient" name="topping" value="Bacon" checked> Bacon! |
                <input type="checkbox" class="ingredient" name="topping" value="Ranch" checked> Ranch!|
                <input type="checkbox" class="ingredient" name="topping" value="Sriracha" checked> Sriracha!
                <br> Add extra:
                <input type="radio" class="ingredient" name="extra" value="" checked> None! |
                <input type="radio" class="ingredient" name="extra" value="Cheddar"> Cheddar! |
                <input type="radio" class="ingredient" name="extra" value="Swiss"> Swiss! |
                <input type="radio" class="ingredient" name="extra" value="Treeline Vegan"> Treeline Vegan Cheese!
                
            </div>
        </div>
        <button type="submit">Add Burger</button>
    </form>
</div>
<div class="icons">
    <a href="https://github.com/Gr8ChairmanMeow/burger" target="_blank"><img src="assets/images/github.png" alt="GitHub"/ height="50" width="50"></a>
</div>